@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--color-primary: #226ffd;
	--color-primary-light: #f3eeff;

	--dark-mode-elements: hsl(209, 23%, 22%);
	--dark-mode-background: hsl(207, 26%, 17%);
	--light-mode-text: hsl(200, 15%, 8%);
	--light-mode-input: hsl(0, 0%, 52%);
	--light-mode-background: hsl(0, 0%, 98%);
	--white: hsl(0, 0%, 100%); //Dark Mode Text & Light Mode Elements

	--body-background: hsl(0, 0%, 98%);
	--header-background: hsl(0, 0%, 100%);
	--text-color: hsl(200, 15%, 8%);
	--text-color-2: hsl(0, 0%, 100%);
	--input-color: hsl(0, 0%, 52%);
	--input-color-2: rgba(145, 145, 145, 0.1);

	--box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
}

.dark-theme {
	--body-background: hsl(207, 26%, 17%);
	--header-background: hsl(209, 23%, 22%);
	--text-color: hsl(0, 0%, 100%);
	--text-color-2: hsl(200, 15%, 8%);
	--input-color: hsl(0, 0%, 100%);
	--input-color-2: rgba(255, 255, 255, 0.35);
	--box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.1);
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 1.6rem;
	min-height: 100vh;
	background: var(--body-background);
	color: var(--text-color);
}

img {
	max-width: 100%;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.container {
	max-width: 144rem;
	margin: 0 auto;
}
