.scrollToTop-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 99999;
	position: fixed;
	right: 0;
	bottom: 2rem;
	width: 4.5rem;
	height: 4.5rem;
	border: 1px solid var(--input-color);
	background: var(--header-background);
	color: var(--text-color);
	cursor: pointer;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s;

	i {
		font-size: 2rem;
	}

	&:hover {
		background: var(--text-color);
		color: var(--text-color-2);
	}
}

.scrollToTop-btn.active {
	right: 2rem;
	pointer-events: all;
	opacity: 1;
}

.loading-container {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: var(--body-background);
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 2.5rem;

	.loading {
		width: 10rem;
		height: 10rem;
		border-radius: 50%;
		border: 15px solid #444;
		border-top-color: var(--color-primary);
		animation: spin 2s linear infinite;
		z-index: 999999;
	}

	h2 {
		font-weight: 300;
		color: var(--input-color);
		letter-spacing: 1px;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
