header {
	left: 0;
	right: 0;
	top: 0;
	background: var(--header-background);
	padding: 2rem 4rem;
	box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
	z-index: 9999999;

	.top-container {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.header-text {
			h2 {
				font-weight: 600;
			}
		}

		.theme-btn {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 1.8rem;
			cursor: pointer;
			transition: all 0.3s;

			i {
				margin-right: 1rem;
			}

			.fa-sun,
			&.sun .fa-moon {
				display: none;
			}

			&.sun .fa-sun {
				display: block;
			}
		}
	}
}

main {
	padding: 3rem 4rem;

	.sticky {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		z-index: 999999;
		background: var(--header-background);
		padding: 2rem 4rem;
		box-shadow: var(--box-shadow);
	}

	.sticky + .menu {
		padding-top: 10rem;
	}

	.container {
		flex-direction: column;
		position: relative;

		.menu {
			display: none;
			border-bottom: 1px solid var(--line-color);
			margin-bottom: 3rem;

			.search-container {
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex-wrap: wrap;
				column-gap: 5rem;
				row-gap: 2rem;
				width: 100%;

				.search-box {
					position: relative;
					flex: 1 1 30rem;
					max-width: 50rem;

					.search {
						font-family: inherit;
						font-size: 1.6rem;
						font-weight: 700;
						padding: 1.2rem 2rem 1.2rem 6rem;
						background: var(--header-background);
						color: var(--text-color);
						border: 1px solid var(--input-color);
						box-shadow: var(--box-shadow);
						outline: none;
						border-radius: 4px;
						width: 100%;
						margin-right: auto;

						&:focus {
							border: 1px solid var(--color-primary);
						}
					}

					i {
						position: absolute;
						left: 2.5rem;
						top: 50%;
						transform: translateY(-50%);
						color: var(--input-color);
					}

					::placeholder {
						color: var(--input-color);
						font-family: inherit;
						font-weight: 400;
					}
				}

				.dropdown-container {
					display: flex;
					gap: 2rem;

					.dropdown {
						position: relative;
						padding: 1.2rem;
						background: var(--header-background);
						border-radius: 4px;
						border: 1px solid var(--input-color);
						box-shadow: var(--box-shadow);
						width: 20rem;
						cursor: pointer;

						&:hover {
							background: var(--input-color-2);
							border: 1px solid var(--color-primary);
						}

						&__select {
							display: flex;
							align-items: center;
							justify-content: space-between;
							width: 100%;

							i {
								position: static;
								transform: translateY(0);
								transition: transform 0.3s;
								color: var(--text-color);
							}
						}

						&__content {
							position: absolute;
							top: 120%;
							left: 0;
							width: 100%;
							clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
							transition: clip-path 0.3s ease;
							border-radius: 4px;
							background: var(--header-background);
							padding: 1rem 0;
							box-shadow: var(--box-shadow);
							z-index: 999;

							&--item {
								padding: 0.5rem 2.5rem;
								visibility: none;
								opacity: 0;
								transition: all 0.3s;

								&:hover {
									background: var(--input-color-2);
									color: var(--color-primary);
								}

								&:active {
									background: var(--color-primary);
									color: var(--text-color-2);
								}
							}
						}

						&.active {
							.dropdown__select {
								i {
									transform: rotate(-180deg);
								}
							}

							.dropdown__content {
								clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

								&--item {
									visibility: visible;
									opacity: 1;
								}
							}
						}
					}
				}
			}

			.letters {
				padding: 2rem 0;
				width: 100%;

				ul {
					display: grid;
					grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
					place-items: center;
					li {
						font-weight: 600;
						width: 4rem;
						height: 4rem;
						text-align: center;
						line-height: 4rem;
						cursor: pointer;
						border-radius: 50%;
						transition: all 0.2s;

						&:hover {
							background: var(--input-color-2);
							color: var(--color-primary);
						}

						&:active {
							background: var(--color-primary);
							color: var(--text-color-2);
						}
					}
				}
			}
		}

		.countries-container {
			display: none;
			grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
			justify-content: center;
			max-width: 100%;
			gap: 3.5rem;
			margin: 0 auto;
			padding: 0 0 10rem;

			.card {
				position: relative;
				max-width: 100%;
				height: 40rem;
				border-radius: 8px;
				border: 2px solid var(--line-color);
				background: var(--header-background);
				box-shadow: var(--box-shadow);
				overflow: hidden;
				cursor: pointer;
				align-self: stretch;

				&:hover {
					border: 2px solid var(--color-primary);
				}

				&__flag {
					background-color: var(--line-color);
					box-shadow: var(--box-shadow);
					img {
						display: block;
						width: 100%;
						height: 20rem;
						object-fit: cover;
					}
				}

				&__details {
					padding: 2rem 3rem;
					height: 100%;

					h2 {
						font-size: 2rem;
						font-weight: 800;
						margin-bottom: 2rem;
					}

					p {
						font-size: 1.7rem;
						font-weight: 600;
						line-height: 2;

						span {
							color: var(--input-color);
							font-weight: 300;
						}
					}
				}
			}
		}
	}
}

.modal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: var(--body-background);
	display: none;
	padding: 6rem 4rem;
	z-index: 999999;
	min-height: 100vh;
	overflow: auto;

	&__container {
		max-width: 144rem;
		width: 100%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
		column-gap: 5rem;
		row-gap: 3rem;

		.flag {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-direction: column;
			gap: 5rem;

			img {
				width: 100%;
				max-height: 40rem;
				object-fit: contain;
			}
		}
	}

	.content__details {
		h1 {
			font-size: 4.5rem;
			border-bottom: 1px solid var(--line-color);
			padding: 5px 0;
			margin-bottom: 2rem;
		}

		.details-container {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
			gap: 1rem;

			.item {
				background: var(--header-background);
				padding: 1rem 2rem 1rem 8rem;
				width: 100%;
				border: 1px solid var(--line-color);
				border-radius: 4px;
				position: relative;

				i {
					font-size: 1.8rem;
					position: absolute;
					left: 2rem;
					top: 50%;
					transform: translateY(-50%);
					width: 4rem;
					height: 4rem;
					line-height: 3.8rem;
					text-align: center;
					background-color: var(--input-color-2);
					border: 1px solid var(--line-color);
					border-radius: 50%;
				}

				.label {
					font-weight: 700;
					display: block;
					margin-bottom: 0.7rem;
					color: var(--color-primary);
					font-size: 1.8rem;
				}

				.value {
					font-size: 1.6rem;

					sup {
						font-size: 1rem;
					}
				}
			}

			.coat-of-arms {
				background: var(--header-background);
				border: 2px solid var(--line-color);
				border-radius: 8px;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				gap: 2rem;

				img {
					width: 18rem;
					height: 18rem;
					border-radius: 50%;
					border: 4px solid var(--line-color);
					background: var(--input-color-2);
					object-fit: contain;
				}
			}
		}
	}
}

footer {
	display: none;
	background: #121212;
	padding: 3rem 4rem;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;

	.container {
		p {
			font-size: 1.4rem;
			color: #fff;
		}

		a {
			color: var(--color-primary);
		}
	}
}
