header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	background: var(--header-background);
	padding: 2rem 4rem;
	box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
	z-index: 999999;

	.top-container {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.header-text {
			h2 {
				font-weight: 600;
			}
		}

		.theme-btn {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 2rem;

			cursor: pointer;
			transition: all 0.3s;

			.fa-sun,
			&.sun .fa-moon {
				display: none;
			}

			&.sun .fa-sun {
				display: block;
			}
		}
	}
}

main {
	padding: 10rem 4rem;

	.container {
		flex-direction: column;

		.menu {
			margin-bottom: 2rem;

			.search-container {
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex-wrap: wrap;
				column-gap: 5rem;
				row-gap: 2rem;
				width: 100%;

				.search-box {
					position: relative;
					flex: 1 1 40rem;

					.search {
						font-family: inherit;
						font-size: 1.6rem;
						padding: 1.2rem 2rem 1.2rem 6rem;
						background: var(--header-background);
						color: var(--text-color);
						border: 1px solid var(--input-color);
						box-shadow: var(--box-shadow);
						outline: none;
						border-radius: 4px;
						width: 100%;
						margin-right: auto;
					}

					i {
						position: absolute;
						left: 2.5rem;
						top: 50%;
						transform: translateY(-50%);
						color: var(--input-color);
					}

					::placeholder {
						color: var(--input-color);
						font-size: 1.4rem;
						font-family: inherit;
					}
				}

				.dropdown-container {
					display: flex;
					gap: 2rem;

					.dropdown {
						position: relative;
						padding: 1.2rem;
						background: var(--header-background);
						border-radius: 4px;
						border: 1px solid var(--input-color);
						box-shadow: var(--box-shadow);
						width: 20rem;
						cursor: pointer;

						&:hover {
							background: var(--input-color-2);
						}

						&__select {
							display: flex;
							align-items: center;
							justify-content: space-between;
							width: 100%;

							i {
								position: static;
								transform: translateY(0);
								transition: transform 0.3s;
								color: var(--text-color);
							}
						}

						&__content {
							position: absolute;
							top: 120%;
							left: 0;
							width: 100%;
							clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
							transition: clip-path 0.3s ease;
							border-radius: 4px;
							background: var(--header-background);
							padding: 1rem 0;
							box-shadow: var(--box-shadow);
							z-index: 999;

							&--item {
								padding: 0.5rem 2.5rem;
								visibility: none;
								opacity: 0;
								transition: all 0.3s;

								&:hover {
									background: var(--input-color-2);
								}
							}
						}

						&.active {
							.dropdown__select {
								i {
									transform: rotate(-180deg);
								}
							}

							.dropdown__content {
								clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

								&--item {
									visibility: visible;
									opacity: 1;
								}
							}
						}
					}
				}
			}

			.letters {
				padding: 3rem 0;
				width: 100%;

				ul {
					display: grid;
					grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));

					li {
						font-weight: 600;
						width: 100%;
						text-align: center;
						padding: 1rem;
						cursor: pointer;
						border-radius: 50%;

						&:hover {
							background: var(--input-color-2);
						}
					}
				}
			}
		}

		.countries-container {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
			max-width: 100%;
			gap: 3.5rem;
			margin: 0 auto;

			.card {
				position: relative;
				max-width: 100%;
				border-radius: 4px;
				background: var(--header-background);
				box-shadow: var(--box-shadow);
				overflow: hidden;
				cursor: pointer;

				&__flag {
					img {
						width: 100%;
						height: 22rem;
						object-fit: cover;
					}
				}

				&__details {
					padding: 1.5rem 2.5rem 3.5rem;

					h2 {
						font-size: 2.5rem;
						font-weight: 800;
						margin-bottom: 1rem;
					}

					p {
						font-size: 1.6rem;
						font-weight: 600;
						line-height: 2;

						span {
							color: var(--input-color);
							font-weight: 300;
						}
					}
				}
			}
		}
	}
}

.modal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: var(--body-background);
	display: none;
	align-items: center;
	padding: 0 4rem;
	z-index: 100;

	&__container {
		max-width: 144rem;
		width: 100%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		gap: 4rem;

		.button-container {
			.btn-close {
				width: 13.5rem;
				height: 4rem;
				font-family: inherit;
				font-size: 1.6rem;
				border: none;
				outline: none;
				box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
				background: var(--header-background);
				color: var(--text-color);
				border-radius: 4px;

				cursor: pointer;
				transition: all 0.3s;

				&:hover {
					color: var(--text-color-2);
					background: var(--text-color);
				}
				i {
					margin-right: 1.2rem;
				}
			}
		}

		.content {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
			column-gap: 6rem;
			row-gap: 2rem;
			margin: 0 auto;
			width: 100%;

			&__flag {
				img {
					width: 100%;
					height: 40rem;
					object-fit: contain;
				}
			}

			&__details {
				h1 {
					border-bottom: 1px solid var(--input-color);
					padding: 5px 0;
				}

				.details-container {
					font-size: 1.8rem;
					width: 100%;
					display: flex;
					flex-wrap: wrap;
					padding: 2rem 0;
					gap: 4rem;

					&__left {
						flex: 1;
					}

					&__right {
						flex: 1;
					}

					p {
						font-weight: 600;
						line-height: 2;
						span {
							display: inline;
							font-weight: 300;
						}
					}
				}
			}
		}
	}
}
