@media only screen and (max-width: 1200px) {
	html {
		font-size: 60.5%;
	}
}

@media only screen and (max-width: 900px) {
	html {
		font-size: 57.5%;
	}

	main {
		.container {
			.menu {
				.search-container {
					.search-box {
						max-width: 100%;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 700px) {
	html {
		font-size: 57.5%;
	}

	main {
		.container {
			.countries-container {
				grid-template-columns: repeat(auto-fit, 46rem);
			}
		}

		.modal {
			&__container {
				grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
			}
		}
	}
}

@media only screen and (max-width: 500px) {
	html {
		font-size: 55.5%;
	}

	main {
		.container {
			.countries-container {
				grid-template-columns: repeat(auto-fit, 36rem);
			}
		}
	}
}
