@media only screen and (max-width: 1200px) {
	html {
		font-size: 60.5%;
	}
}

@media only screen and (max-width: 900px) {
	html {
		font-size: 57.5%;
	}

	main {
		.container {
			.menu {
				.search-container {
					.search-box {
						max-width: 100%;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 700px) {
	html {
		font-size: 57.5%;
	}

	main {
		.container {
			.countries-container {
				grid-template-columns: repeat(auto-fit, 46rem);
			}
		}

		.modal {
			&__container {
				grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
			}
		}
	}
}

@media only screen and (max-width: 500px) {
	html {
		font-size: 55.5%;
	}

	main {
		.container {
			.countries-container {
				grid-template-columns: repeat(auto-fit, 36rem);
			}
		}

		.modal {
			&__container {
				grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
			}

			.content__details {
				h1 {
					font-size: 3.5rem;
				}
			}
		}
	}
}

@media only screen and (max-width: 300px) {
	html {
		font-size: 52.5%;
	}

	header {
		padding: 2rem;
	}

	main {
		padding: 3rem 2rem;

		.container {
			.countries-container {
				grid-template-columns: repeat(auto-fit, 28rem);
			}
		}

		.modal {
			&__container {
				grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
			}

			.content__details {
				h1 {
					font-size: 3.5rem;
				}
			}
		}
	}
}
